<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Listaço</title>
</head>
<body>
    <div class="container centralized">
        <h1>Listaço</h1>
        <a href="/login">Logout</a>
    </div>
    <div class="empty"></div>
    <div class="listbox xover" id="listbox">
        <div class="container centralized list" ondragover="allowDrop(event)" ondrop="drop(event, this)" id="list1" onmouseenter="appearbtn(this)" onmouseleave="hidebtn(this)">
            <h5 class="del" type="button" style="width: fit-content;" onclick="deleteEl(this)" hidden>X</h5>
            <input hidden="" type="number" value="0">
            <button class="btn item" id="createcard" type="button" onclick="newCard(this)">Adicionar novo cartão + </button>
        </div>
        <div class="container centralized list" id="final">
            <button class="btn item" id="createlist" type="button" onclick="newList()">Adicionar nova lista +</button>
        </div>
    </div>
    <div>
        <button onclick="save()" class="btn btn-primary" type="button" style="position: fixed; right: 10px; top: 10px;">Save</button>
    </div>
    <div class="container panel" id="panel" hidden>
        <input type="text" class="form-control" placeholder="Nome" id="inp">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="check1">
            <label class="form-check-label" for="check1">Batata</label>
            <button onclick="closePanel()" style="position: absolute; right: 78px; bottom: 5px;" class="btn btn-primary">Cancelar</button>
            <button onclick="savePanel()" style="position: absolute; right: 5px; bottom: 5px;" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</body>
<script>
    list = {{list}};
    item = [];
</script>
{{#each item}}
    <script>
        item[item.length] = "{{this}}"
    </script>
{{/each}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/index.js"></script>
</html>