@media (min-width: 1348px){ 
    .changed{
        width: 80%;
    }
    .changedt{
        width: 80%;
    }
    .listbox{
        flex-direction: row;
    }
    .panel{
        height: 80%; 
        width: 40%;
    }
}
@media (min-width: 951px) and (max-width: 1347px){
    .changed{
        width: 70%;
    }
    .changedt{
        width: 70%;
    }
    .panel{
        height: 80%; 
        width: 60%;
    }
    .listbox{
        flex-direction: row;
    }
}
@media (max-width: 950px) {
    .changed{
        width: 60%;
    }
    .changedt{
        width: 60%;
    }
    .listbox{
        flex-direction: column;
    }
    .panel{
        height: 80%; 
        width: 80%;
    }
}
body{
    background-color: #5e1224;
}
.container{
    background-color: rgb(245, 245, 220);
    border-radius: 10px;
    padding: 10px;
}
.centralized{
    text-align: center;
}
.empty{
    padding-top: 30px;
}
.listbox{
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    width: 99%;
    min-height: 500px;
    max-height: 800px;
    display:flex;
    gap: 1%;
}
.xover{
    overflow-y: auto;
    overflow-x: auto;
}
.list{
    background-color: gray;
    width: 15%;
    min-width: fit-content;
    height: fit-content;
    margin-bottom: 1%;
}
.item{
    background-color: darkgray;
    border-radius: 10px;
    overflow-x: auto;
}
.login{
    width: 20%;
}
.empty2{
    padding-top: 10px;
}
.panel{
    position: fixed; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    top: 50%; 
    background-color: #444444;
    color: whitesmoke;
}
#innerPanel{
    height: 85%;
}
#innerText{
    resize: none;
    min-height: 30px;
}
.pad10{
    padding: 10px;
}
.checklist{
    background-color: gray;
    overflow-x: auto;
}
.checkbox{
    background-color: darkgray;
    overflow-x: auto;
}